{
  "plugins": [
    "syntax-async-generators",
    "transform-async-generator-functions",
    "syntax-trailing-function-commas",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "env", {
        "targets": {
          "node": "8.9.4"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
