{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["import", "promise", "lodash-fp", "prettier"],
  "extends": [
    "airbnb-base",
    "plugin:lodash-fp/recommended",
    "plugin:promise/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "object-curly-spacing": "off",
    "no-console": "warn",
    "no-restricted-syntax": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "bracketSpacing": false
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["test/**/*.js", "scripts/**/*.js"]
      }
    ]
  }
}
