.DS_STORE
node_modules
*.log*
lerna-*.log
_dist
.npmrc
.eslintcache
package-json.lock
project/.vagrant
.dir-locals.el
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
.nyc_output
coverage
data
